# 01 – Exploration des données

In [3]:
import pandas as pd

In [ ]:
df = pd.read_csv("../data/raw/dirty_cafe_sales.csv")
df.head()

,Transaction ID,Item,Quantity,Price Per Unit,Total Spent,Payment Method,Location,Transaction Date
0,TXN_1961373,Coffee,2,2.0,4.0,Credit Card,Takeaway,2023-09-08
1,TXN_4977031,Cake,4,3.0,12.0,Cash,In-store,2023-05-16
2,TXN_4271903,Cookie,4,1.0,ERROR,Credit Card,In-store,2023-07-19
3,TXN_7034554,Salad,2,5.0,10.0,UNKNOWN,UNKNOWN,2023-04-27
4,TXN_3160411,Coffee,2,2.0,4.0,Digital Wallet,In-store,2023-06-11

In [4]:
df.shape

(10000, 8)

Le jeu de données contient 10000 lignes et 8 colonnes.
Chaque ligne représente une transaction de vente réalisée par le café.

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Transaction ID    10000 non-null  object
 1   Item              9667 non-null   object
 2   Quantity          9862 non-null   object
 3   Price Per Unit    9821 non-null   object
 4   Total Spent       9827 non-null   object
 5   Payment Method    7421 non-null   object
 6   Location          6735 non-null   object
 7   Transaction Date  9841 non-null   object
dtypes: object(8)
memory usage: 625.1+ KB

### Structure et types des données

Le jeu de données contient 10 000 lignes et 8 colonnes.  
Toutes les colonnes sont actuellement de type `object`, y compris celles
qui devraient représenter des valeurs numériques ou des dates, ce qui
indique un problème de typage des données.

Plusieurs colonnes présentent également des valeurs manquantes,
notamment pour les informations liées aux produits, aux paiements
et aux localisations.  
Ces observations confirment la nécessité d’une phase de nettoyage
et de transformation avant toute exploitation du jeu de données.

In [7]:
df.columns

Index(['Transaction ID', 'Item', 'Quantity', 'Price Per Unit', 'Total Spent',
       'Payment Method', 'Location', 'Transaction Date'],
      dtype='object')

Description des colonnes

Le jeu de données contient les colonnes suivantes :

- Transaction ID : identifiant unique de la transaction  
- Item : produit vendu  
- Quantity : quantité vendue  
- Price Per Unit : prix unitaire du produit  
- Total Spent : montant total de la transaction  
- Payment Method : méthode de paiement utilisée  
- Location : lieu de la vente  
- Transaction Date : date de la transaction

In [8]:
df.isnull().sum()

Transaction ID         0
Item                 333
Quantity             138
Price Per Unit       179
Total Spent          173
Payment Method      2579
Location            3265
Transaction Date     159
dtype: int64

Plusieurs colonnes contiennent des valeurs manquantes.
Ces valeurs peuvent impacter la fiabilité des analyses et devront être
traitées lors de la phase de nettoyage.

In [9]:
df.duplicated().sum()

0

Rien n'est doublé

In [10]:
df.describe(include="all")

,Transaction ID,Item,Quantity,Price Per Unit,Total Spent,Payment Method,Location,Transaction Date
count,10000,9667,9862,9821,9827,7421,6735,9841
unique,10000,10,7,8,19,5,4,367
top,TXN_1961373,Juice,5,3.0,6.0,Digital Wallet,Takeaway,UNKNOWN
freq,1,1171,2013,2429,979,2291,3022,159

Description des colonnes

Le jeu de données contient les colonnes suivantes :

- Transaction ID : identifiant unique de la transaction  
- Item : produit vendu  
- Quantity : quantité vendue  
- Price Per Unit : prix unitaire du produit  
- Total Spent : montant total de la transaction  
- Payment Method : méthode de paiement utilisée  
- Location : lieu de la vente  
- Transaction Date : date de la transaction

Conclusion

Cette phase d’exploration a permis de mieux comprendre la structure du jeu de données
et de mettre en évidence plusieurs problèmes de qualité, tels que des valeurs manquantes
et des types de données inadaptés. Ces constats confirment la nécessité de procéder à une
phase de nettoyage et de transformation afin de rendre les données exploitables.