# 02 – Nettoyage des données

In [1]:
import pandas as pd

df = pd.read_csv("../data/raw/dirty_cafe_sales.csv")
df.head()

,Transaction ID,Item,Quantity,Price Per Unit,Total Spent,Payment Method,Location,Transaction Date
0,TXN_1961373,Coffee,2,2.0,4.0,Credit Card,Takeaway,2023-09-08
1,TXN_4977031,Cake,4,3.0,12.0,Cash,In-store,2023-05-16
2,TXN_4271903,Cookie,4,1.0,ERROR,Credit Card,In-store,2023-07-19
3,TXN_7034554,Salad,2,5.0,10.0,UNKNOWN,UNKNOWN,2023-04-27
4,TXN_3160411,Coffee,2,2.0,4.0,Digital Wallet,In-store,2023-06-11

In [2]:
df.duplicated().sum()

0

Une vérification des doublons est nécessaire pour vérifier la qualité des données

In [3]:
df.isnull().sum()

Transaction ID         0
Item                 333
Quantity             138
Price Per Unit       179
Total Spent          173
Payment Method      2579
Location            3265
Transaction Date     159
dtype: int64

Plusieurs colonnes présentent des valeurs manquantes.
un traitement est donc nécessaire afin de préserver la
cohérence du dataset.

In [4]:
df = df.dropna(subset=[
    "Item",
    "Quantity",
    "Price Per Unit",
    "Transaction Date"
])

In [5]:
df["Payment Method"] = df["Payment Method"].fillna("Unknown")
df["Location"] = df["Location"].fillna("Unknown")

Les colonnes essentielles pour interpréter une transaction
(produit, quantité, prix et date) ont été traitées en priorité.
Les lignes contenant des valeurs manquantes sur ces champs ont
été supprimées, car elles ne permettent pas une lecture fiable
de la transaction.

À l’inverse, les colonnes secondaires comme la méthode de paiement
ou la localisation restent exploitables même en cas d’information
manquante. Les valeurs absentes ont donc été remplacées par
"Unknown" afin de conserver un maximum de données.

In [6]:
df.isnull().sum()

Transaction ID        0
Item                  0
Quantity              0
Price Per Unit        0
Total Spent         158
Payment Method        0
Location              0
Transaction Date      0
dtype: int64

Après le nettoyage, le jeu de données ne contient plus de valeurs
manquantes bloquantes. Les données sont désormais plus cohérentes
et prêtes pour la phase de transformation.

Conclusion

Cette étape de nettoyage a permis de corriger les principaux problèmes
de qualité identifiés lors de l’exploration, les valeurs manquantes. Le jeu de données obtenu est plus fiable et constitue une base saine pour les transformations à venir.